# Ignore data files and processed datasets
data/
!data/.gitkeep   # Keep the folder structure without including data files

# Ignore saved models
models/
!models/.gitkeep

# Ignore compiled Python files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore the virtual environment directory
bus-routing-env/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore configuration files (if storing sensitive info)
config/*.json

# Ignore other temporary files
*.log
*.pkl
*.h5
